
html { 
  background: url(blackboard1.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body
{
	font-family: Arial,verdana,sans-serif;
	
	background-color: ;
	color: white;
	word-spacing: 10px;
    font-size: large;
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);


    
}
/*punctline styling*/
#p-line{
    font-style: italic;
    font-family: comic;
    font-size:200%;
}
/*--------------*/
#askus{
   float: right;
   width: 200px;
   
}
address{
	font-weight: bold;
	font-family: "times new roman","sans-serif";
	font-size: 130%;
}
a#email{
	color: #00394d;
	background-color: white;
}

address,h3#mail{
	padding-left: 14px;
}


/*drop down menu*/

 
.clearfix:after {
    display:block;
    clear:both;
}

.menu li {
    margin:0px;
    list-style:none;
    font-family:;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#919191;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#be5b70;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
    font-size:19px;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#2e2728;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:100%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}
 
.sub-menu li {
    display:block;
    font-size:16px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#3e3436;
}
.menu{ max-width: 100px; 
      font-family: verdana;
      font-style: italic;
      font-weight: bold;
      font-size:130%;}

//////////////////////////////////////////////////

/* POP UP STYLING*/

* Popup container */
.courses{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.courses .popuptext {
    visibility: hidden;
    width: 60px;
    
    border-radius: 6px;
    padding: 0px 10px;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 50%;
    margin-left: 80px;
}

/* Popup arrow */
.courses .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.courses .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


///////////////////////////////////////////////////
.images{
	display: inline;
	margin:0px;
	padding: 0px;
}
.head{
	display: block;
	margin: 0px;
	padding: 0px;
	position: relative;
	
	height: auto;
	max-width: auto;
	overflow-y: hidden;
	overflow-x: auto;
}

.comments>p{
	font-family:"Comic San MS","Segoe Print";
	font-style: italic;
	font-size:110%;
	background:url("multiple.png")  no-repeat;

	box-sizing: content-box;
	max-width: 800px;
	color: white;
}
.comments>img{
	max-height: 200px;
	max-width: 200px;
}
#test{
	position: center;
}

/*grid system*/
.grid-container {
        width : 100%;
        max-width : 50%; 
        position: center;
        margin: auto;
        background:url(comm211.png) no-repeat;
    }
.why{
	background-color: #999999;
	width : 100%;
    max-width : 90%; 
    position: center;
    margin: auto;
    color: black;
    background: url(comm311.jpg);

}
h2#pg-header{
	font-style: italic;
	font-weight: bold;
	font-size:200%;
	font-family:"Comic San MS" sans-serif;
}
p#text{
	font-weight: bold;
	font-family: "Comic San MS" sans-serif;
	font-size: 150%;
}
/*-----------------------*/

/*slide show styling */

 /* Slideshow container */
.slideshow-container {
  max-width: 250px;
  position: relative;
  margin: auto;
  max-height: 300px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


 